body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.card {
    margin-inline: auto;
    border: 1px solid rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.112);
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.contact {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-contact-form {
    display: flex;
    flex-direction: column;
    width: 20rem
}