<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Buscar Contatos</title>
  </head>
  <body>
    <div class="container card">
      <h1>Buscar Contatos</h1>
      <form method="POST">
        <label for="name">Digite o nome:</label>
        <input type="text" id="name" name="name" required />
        <button type="submit">Buscar</button>
      </form>
      {% if result %}
      <h2>Contato Encontrado:</h2>
      <p>Nome: {{ result.name }}</p>
      <p>Telefone: {{ result.phone }}</p>
      {% elif result == None and request.method == 'POST' %}
      <h2>Nenhum Contato Encontrado</h2>
      <p>Desculpe, não conseguimos encontrar um contato com esse nome.</p>
      {% endif %}
      <a href="{{ url_for('index') }}">Voltar ao Início</a>
    </div>
  </body>
</html>
